// Constants for the module
PORT=4567
SERVER_URL=http://localhost:3000
USER_ID=56XXXXXXXXX

// User should add their own here
TWILIO_SID=AC23a7b1XXXXX
TWILIO_TOKEN=e9532d8XXXXXX

// Thermal printer
SERIAL_PORT=/dev/cu.usbmodemFA131